* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.alert-success {
    background-color: #198754; /* Light red color */
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    color: #fff; /* Text color */
    font-family: 'Arial', sans-serif; /* Specify the desired font-family */
    z-index: 999;
}

.alert-success span {
    margin-bottom: 10px; /* Adjust spacing between the message and the button */
}

.alert-success button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff; /* White button background */
    color: #198754; /* Red button text color */
    cursor: pointer;
}

.alert-failed {
    background-color: #dc3545; /* Light red color */
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 100px ;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    color: #fff; /* Text color */
    font-family: 'Arial', sans-serif; /* Specify the desired font-family */
    z-index: 999;
}

.alert-failed span {
    margin-bottom: 10px; /* Adjust spacing between the message and the button */
}

.alert-failed button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff; /* White button background */
    color: #dc3545; /* Red button text color */
    cursor: pointer;
}

.card {
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.035);
}

.card img {
    min-height: 300px;
    max-height: 200px;
    object-fit: cover;
}

.brand-text {
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

footer {
    margin-top: auto;
}